@font-face {
  font-family: 'JetBrains';
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

:root {
  font-size: 16px;
  /* rose-pine-moon pallet */
  --d-base00: #232136;
  --d-base01: #2a273f;
  --d-base02: #393552;
  --d-base03: #6e6a86;
  --d-base04: #908caa;
  --d-base05: #e0def4;
  --d-base06: #e0def4;
  --d-base07: #56526e;
  --d-base08: #eb6f92;
  --d-base09: #f6c177;
  --d-base0A: #ea9a97;
  --d-base0B: #3e8fb0;
  --d-base0C: #9ccfd8;
  --d-base0D: #c4a7e7;
  --d-base0E: #f6c177;
  --d-base0F: #56526e;
  --l-base00: #faf4ed;
  --l-base01: #fffaf3;
  --l-base02: #f2e9de;
  --l-base03: #9893a5;
  --l-base04: #797593;
  --l-base05: #575279;
  --l-base06: #575279;
  --l-base07: #cecacd;
  --l-base08: #b4637a;
  --l-base09: #ea9d34;
  --l-base0A: #d7827e;
  --l-base0B: #286983;
  --l-base0C: #56949f;
  --l-base0D: #907aa9;
  --l-base0E: #ea9d34;
  --l-base0F: #cecacd;
}

.light {
  --bg-color: var(--l-base00);
  --fg-color: var(--l-base06);
  --green: var(--l-base0C);
  --red: var(--l-base0A);
  --blue: var(--l-base0B);
}

.dark {
  --bg-color: var(--d-base00);
  --fg-color: var(--d-base06);
  --green: var(--d-base0C);
  --red: var(--d-base0A);
  --blue: var(--d-base0B);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains';
  color: var(--fg-color);
  background: var(--bg-color);

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background: var(--bg-color);
  color: white;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

main {
  text-align: center;
  margin: auto;
  max-width: 900px;
}

header {
  text-align: left;
  line-height: 0.5rem;
  padding: 5rem;
}

header>img {
  height: 5rem;
  border-radius: 100%;
}

header>h1>span:nth-child(1) {
  color: var(--green);
}

header>h1>span:nth-child(2) {
  color: var(--red);
}

header>h1>span:nth-child(3) {
  color: var(--blue);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('svg/polygon-scatter-haikei.svg');
}
