<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Personal Website</title>
  {% block style %} {% endblock %}
  <script defer src="app.js"></script>
</head>

<body class="dark">
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item"> <a href="#">Home </a> </li>
      <li class="nav-item"> <a href="#" id="lightb">light </a> </li>
      <li class="nav-item"> <a href="#" id="darkb">darak </a> </li>
    </ul>
  </nav>
  <header>
    <h1> DeepAttic! </h1>
    <p> This is My Personal Website</p>
  </header>
  <main></main>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo magnam ipsum eius, saepe illo officia
        labore ex, error nihil accusamus assumenda mollitia. Eos cum in reiciendis, similique quaerat nihil!</p>
    </h1>
  </section>
  <div class="spacer layer1"></div>
  <section class="layer1">
    <h1>
      Nice Curvers
      <p>Aspernatur laboriosam, quidem ut ad, odit modi voluptatem a aut, quae vel iste porro nobis? Labore debitis
        culpa ut magni earum alias, omnis ad distinctio dignissimos placeat corporis modi reiciendis.</p>
    </h1>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Rem deserunt, adipisci ad eos aliquid harum, eveniet illum ducimus odio voluptatum nesciunt voluptate quis
        neque quasi, sint tempora numquam placeat magni maiores ex? Rerum cum accusamus qui totam neque!</p>
    </h1>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Sit, porro. Praesentium iste, libero atque quidem rerum tempore animi ut nam inventore illum dolor
        necessitatibus, eum quae alias. Consequuntur nostrum unde nobis, veniam atque natus explicabo nulla architecto?
        Alias!</p>
    </h1>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Tenetur sint iure dolore. In vel laboriosam harum dignissimos error nulla non! Nemo magni facere, magnam eius
        quia quas impedit aliquam numquam culpa ullam asperiores error similique id odio maxime.</p>
    </h1>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Dolorum alias ipsa possimus reprehenderit voluptate harum neque provident aut assumenda quo sit, molestiae
        eveniet pariatur quibusdam. Soluta, est ea dolore et aspernatur odio incidunt quia quis, dicta enim magnam.</p>
    </h1>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Porro quod tempore perferendis facilis nostrum sed consequatur ipsa rerum laudantium unde. Voluptatum nulla ut
        tempora fuga iste alias tenetur! Aliquid officiis animi blanditiis aut, soluta quasi tenetur dolore rem!</p>
    </h1>
  </section>
  <section>
    <h1>
      Nice Curvers
      <p>Eum inventore aspernatur eligendi reprehenderit consectetur hic fugiat debitis, repellat natus veritatis
        deleniti tempora. Distinctio nam sequi eveniet, vitae aut molestiae expedita quae tempore incidunt velit,
        dolorem quas dolores quia.</p>
    </h1>
  </section>

</body>

</html>
